{% load static %}
<link href="{% static 'css/set_password.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<div class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto mt-24">
    <h2>Set Password</h2>

    <!-- Messages -->
    <div class="messages mb-4">
        {% for message in messages %}
            <p class="text-red-600">{{ message }}</p>
        {% endfor %}
    </div>

    <form method="POST" novalidate>
        {% csrf_token %}

        <!-- New Password -->
        <div class="form-group">
    <div class="password-input">
        <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder=" " required>
        <label for="new_password1">New Password</label>
        <span class="toggle-password" data-target="new_password1">
            <i class="fa-solid fa-eye"></i>
        </span>
    </div>
    <div class="password-rules">
        <p>Password must contain:</p>
        <ul>
            <li id="rule-length">At least 8 characters</li>
            <li id="rule-uppercase">An uppercase letter</li>
            <li id="rule-lowercase">A lowercase letter</li>
            <li id="rule-number">A number</li>
            <li id="rule-special">A special character (!@#$%^&*)</li>
        </ul>
    </div>
</div>

<div class="form-group">
    <div class="password-input">
        <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder=" " required>
        <label for="new_password2">Confirm Password</label>
        <span class="toggle-password" data-target="new_password2">
            <i class="fa-solid fa-eye"></i>
        </span>
    </div>
    <span id="password-match-status" class="match-status"></span>
</div>


        <button type="submit">Save Password</button>
    </form>
</div>

<script src="{% static 'js/set_password.js' %}"></script>
