{% load static %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">

<div class="register-page">
    <div class="register-card">
        <div class="card-body">
            <h2 class="form-title">Enter Verification Code</h2>

            {% if messages %}
                <div class="form-error mb-4">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="code">6-digit Code</label>
                    <input type="number" name="code" id="code" class="form-control" maxlength="6">
                </div>
                <button type="submit" class="btn-gradient">Verify</button>
            </form>
        </div>
    </div>
</div>
